.admin-container{
    display: flex;
    margin-top:5%;
    /* background-image: url(../../../Photos/Icons/uploadServices.svg);
    background-size: cover; */
}
.upload-form input{
    width:180%;
}



