.main-container{
    margin-left: 50%;
}
.navbar-container a{
    font-size:18px; 
    /* font-weight:700; */
}
.navbar-main .navbar-name{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:2px;
}
.toggle-btn{
    padding: 1px 5px;
    font-size:18px;
    line-height:.3;
    background:#fff;
}

@media only screen and (max-width: 500px){
    .main-container{
        margin-left: 0%;
    }
}